"""
# templates/download_model.j2
from transformers import AutoTokenizer, AutoModelForCausalLM

def download_model():
    model_name = "{{ model_repo }}"
    tokenizer = AutoTokenizer.from_pretrained(model_name)
    model = AutoModelForCausalLM.from_pretrained(model_name)
    
    tokenizer.save_pretrained('{{ local_path }}')
    model.save_pretrained('{{ local_path }}')

if __name__ == "__main__":
    download_model()
"""